$dark_background: #17171c;
$dark_toggle_background: #2e2f38;
$dark_button_background: #2e2f38;

$sign_background: #4b5efc;
$light_text: #000000;
$dark_text: #ffffff;

.dark {
    background-color: $dark_background;
    width: 375px;
    height:fit-content;
    padding: 10px;
    color: $dark_text;
    box-shadow: 6px 5px 7px #d1cad1;
    border-radius: 10px;

    .theme {
        position: relative;
        left: 150px;
        background-color: $dark_toggle_background;
        border-radius: 16px;
        width: 72px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .output {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 12px;
        overflow: hidden;

        .previous-input {
            font-family: "Work Sans";
            font-style: normal;
            font-weight: 300;
            font-size: 40px;
            line-height: 47px;
            display: flex;
            align-items: center;
            text-align: right;
            opacity: 0.4;
          }
          .input {
            border: none;
            outline: none;
            font-family: "Work Sans";
            font-style: normal;
            font-weight: 300;
            font-size: 80px;
            line-height: 86px;
            height: 86px;
            display: flex;
            align-items: center;
            text-align: right;
            background-color: $dark_background;
            color: $dark_text;
          }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .row {
            display: flex;
            gap: 16px;
            button {
                width: 71px;
                height: 72px;
                background-color:$dark_button_background;
                border: none;
                border-radius: 22px;
                font-family: "Work Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 40px;
                text-align: center;
                color: $dark_text;
                cursor: pointer;
              }
              .sign {
                background: #4b5efc;
                color: #fff;
              }
              .backspace {
                display: flex;
                align-items: center;
                justify-content: center;
              } 
              .control {
                background-color: #4E505F;
              }
          }
      }
}