
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html,body{
    height: 100%;
}

body{
    display: grid;
    place-items: center;
    background: #dde1e7;
}

p{
    font-size: 0.5rem;
    font-family: 'poppins', sans-serif;
    color: rgb(97, 90, 90);
}

.container{
    width: 330px;
    background: #dde1e7;
    padding: 40px 30px 25px;
    border-radius: 10px;
    box-shadow:  -3px -3px 7px #ffffff73,
                  2px 2px 5px rgba(94, 104, 121, 0.288);
}

form .result{
    height: 60px;
    width: 100%;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow:  inset -3px -3px 7px #ffffff73,
                 inset 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.result input{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 30px;
    text-align: right;
    font-family: 'poppins', sans-serif;
    font-weight: 500px;
    padding: 0 20px;
    color: 595959;
    pointer-events: none;
}

form .buttons{
    text-align: center;
    padding: 30px 0 0 0;
}

.buttons input[type="button"] {
    height: 56px;
    width: 56px;
    font-size: 23px;
    margin: 4px;
    border: none;
    outline: none;
    background: #dde1e7;
    border-radius: 50px;
    box-shadow:  -3px -3px 7px #ffffff73,
                  2px 2px 5px rgba(94, 104, 121, 0.288);
}

.buttons input[type="button"]:focus{
    color: orangered;
    transform: scale(0.9);
    box-shadow:  inset -3px -3px 7px #ffffff73,
                 inset  2px 2px 5px rgba(94, 104, 121, 0.288);
}

#clear{
    background: orangered;
    color: #dde1e7;
    width: 56px;
}
#clear:focus{
    background: #dde1e7;
    color: orangered;
    border: 1px solid orangered;
}

#delete{
    background: orange;
    color: #dde1e7;
}
#delete:focus{
    background: #dde1e7;
    color: orange;
    border: 1px solid orange;
}

#veql{
    background: lightseagreen; 
    color: #dde1e7;
}
#veql:focus{
    background: #dde1e7;
    color: lightseagreen;
    border: 1px solid lightseagreen;
}

